body {
   background-color: #26334a;
   color: white;
   margin: 0;
}

button.btn {
   color: white;
}

.loggedIn{
   padding: 0 !important;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
}

ul li,
li a {
   list-style: none;
   text-decoration: none;
   color: white;
   font-weight: 500;
}


/* Accueil */

.news{
   align-items: center;
}