{% extends 'base.html.twig' %}

{% block title %}Accueil NX
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{{asset('css/index.css')}}">
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column news mt-4 mb-4">
		<h1 class="new">NOS NOUVEAUTÉS</h1>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card">
					<img src="https://placehold.co/200" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Produit 1</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati temporibus ipsum perspiciatis aspernatur? Voluptatem tenetur corporis repellat esse ab!</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="https://placehold.co/200" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Produit 1</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati temporibus ipsum perspiciatis aspernatur? Voluptatem tenetur corporis repellat esse ab!</p>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img src="https://placehold.co/200" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Produit 1</h5>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et obcaecati temporibus ipsum perspiciatis aspernatur? Voluptatem tenetur corporis repellat esse ab!</p>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
